<h3 class="formTitle form-group"><%= t("translation_tool.completed_translations") %> <span>(<%= link_to t("translation_tool.see_phrases_missing_translation"), @locale %>)</span></h3>

<% if @locale.has_updated_translations? && action_name != 'updated' %>
  <span class="notice"><%= t("translation_tool.some_phrases_have_changed")%>. <%= link_to t("translation_tool.update_translations"), tolk.updated_locale_path(@locale) %>.</span>
<% end %>

<div class="search">
  <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
</div>

<div class="translations">
<% if @phrases.any? %>
  <%= form_for @locale do |locale_form| %>
        <table class="translations">
      <tr>
        <th class="translation"><%= @locale.language_name -%></th>
        <th class="actions"></th>
        <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
      </tr>
      <% @phrases.each do |phrase| %>
        <% if phrase.translations.primary %>
          <tr>
            <td class="translation">
              <%= hidden_field_tag :"translations[][id]", phrase.translation.id %>
              <%= hidden_field_tag :"translations[][locale_id]", phrase.translation.locale_id %>
              <%= text_area_tag :"translations[][text]", format_i18n_text_area_value(phrase.translation.text), :class => 'locale' %>
            </td>
            <td class="actions">
              <a class="copy" href="#" tabindex="-1" title="<%=t("translation_tool.copy_original_translation")%>">&larr;</a><br>
              <span class="warning" title="<%=t("translation_tool.interpolation_key_not_match")%>">⚠</span>
            </td>
            <td class="original">
              <%= text_area_tag :"translations[][original_text]", format_i18n_text_area_value(phrase.translations.primary.text), :disabled => true %>
              
              <% if action_name == 'updated' %>
                <div class="updated">
                  <span class="key">Updated</span>
                  <%= format_i18n_value(phrase.translations.primary.text) -%>
                  <%= boolean_warning if phrase.translations.primary.boolean? -%>
                </div>
                <div class="previous">
                  <span class="key">Previous</span>
                  <%= format_i18n_value(phrase.translations.primary.previous_text) -%>
                </div>
              <% else %>
                <%= format_i18n_value(phrase.translations.primary.text) -%>
                <%= boolean_warning if phrase.translations.primary.boolean? -%>
              <% end %>

              <span class="key"><%= phrase.key %></span>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="table_submit">
      <p><%= locale_form.submit t("translation_tool.save_changes"), :class => 'save bold btn btn-primary btn-lg btn-blue' %></p>
    </div>
    <div class="paginate">
      <%= tolk_paginate @phrases %>
    </div>
  <% end %>
<% else %>
  <p style="text-align: left"><%=t("translation_tool.are_not_completed_translation")%></p>
  <p>&nbsp;</p>
<% end %>
</div>