.container
  .row
    .col-xs-12
      %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td#stepBtnHeight.leftCol{:width => "80%"}
              .formBox.minH300
                .formHeader.clearfix
                  %h1
                    = t("general.more_options")
                - if @user.present?
                  .form-group
                    = link_to send_pdf_path(@user.id, format: 'pdf'), :class => "btn btn-primary btn-lg btn-blue" do
                      %span
                        =t("form_action_button.print_member_profile_pdf")                
                  .form-group
                    %a.btn.btn-primary.btn-lg.btn-blue.minW260{"data-target" => "#LoginInfoEmailModal", "data-toggle" => "modal", :type => "button", :class => "btn btn-primary btn-lg ", href: "javascript:void(0);"}
                      %span
                        =t("form_action_button.send_login_info_by_email")
                  .form-group
                    %a.btn.btn-primary.btn-lg.btn-blue.minW260{"data-target" => "#moreOptions", "data-toggle" => "modal", :href => "javascript:void(0);"}
                      %span
                        =t('general.remove_user', user: @user.user_role.role.humanize)
            %td.stepBtnGroup{:width => "20%"}
              %a.stepBtn.backBtn{:href => @back_path}
                %span
                  =t("form_action_button.return_button")
                = image_tag "back_btn.png", :class => "mt15"
        #moreOptions.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog.modal-md.modal-confirm{:role => "document"}
            .modal-content
              .modal-body
                - if @user.present?
                  = render 'soft_delete', :locals => {:user => @user}
      - if @user.present?
        #LoginInfoEmailModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog.modal-lg{:role => "document"}
            .modal-content
              .modal-body
              = render :partial => "emails/form_login_info_email", :locals => {:object => @user}